.container {
	padding-top: 1%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	height: 100%;
	box-sizing: border-box;
}

* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	margin: 0;
	color: white;
	background-color: rgb(33, 33, 33);
	height: 100vh;
	background-image: url('./images/background.jpg');
	background-size: cover;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: hidden;
	box-sizing: border-box;
}

.box .header {
	flex: 0 1 auto;
	margin-top: 0;
}

.box .fit {
	flex: 0 1 auto;
	width: fit-content;
}

.box .content {
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
}

.box .footer {
	flex: 0 1 auto;
	margin-top: 0.40rem;
}

.box-horizontal {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 100%;
}

.box-horizontal .content {
	flex: 0 1 auto;
}

input:not(:focus):not(:placeholder-shown):invalid {
	border-color: red;
}

.highlight-invalid {
	border-color: red;
}

select:focus-visible,
input:focus-visible {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=range] {
	height: 22px;
	box-sizing: border-box;
	margin: 0;
}

.text-center {
	text-align: center;
}

.align-left {
	justify-content: left !important;
}

.h-22 {
	height: 22px !important;
}

.w-fit {
	width: fit-content;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.pl-0 {
	padding-left: 0;
}

.ps-1 {
	padding-left: 0.25rem;
}

.pb-2 {
	padding-bottom: 1rem !important;
}

.pt-10px {
	padding-top: 10px;
}

.mt-3 {
	margin-top: 2rem !important;
}

.mt-2 {
	margin-top: 0.75rem;
}

.mt-0 {
	margin-top: 0;
}

.mt-1 {
	margin-top: 0.25rem;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.75rem;
}

.me-1 {
	margin-right: 0.25rem;
}

.me-2 {
	margin-right: 0.75rem;
}

.ms-2 {
	margin-left: 0.75rem;
}

.mx-2 {
	margin: 0.75rem !important;
}

.px-2 {
	padding: 0.75rem !important
}

.h-auto {
	height: auto !important;
}

.hide {
	width: 0px !important;
	padding: 0 !important;
	border-width: 0px !important;
	transition: width 0.2s ease-in-out, border-width 0s 0.19s, padding 0s 0.19s !important;
}

.btns {
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	flex: 1;
	justify-content: left;
	align-self: end;
}

.right {
	display: flex;
	flex: 1;
	justify-content: right;
	align-self: end;
}

.center {
	display: flex;
}

.btn {
	color: white;
	border: 1px solid rgb(0, 0, 0, 0.8);
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
	border-radius: 4px;
	background-color: rgba(0, 0, 0, 0.2);
	box-sizing: border-box;
	height: auto;
	transition: all 0.2s;
}

.btn:hover:not(:disabled) {
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
}

.btn:active:not(:disabled) {
	background-color: rgba(0, 0, 0, 0.2);
}

.btn:disabled {
	border-color: rgba(0, 0, 0, 0.1);
	color: rgb(255, 255, 255, 0.8);
}

.btn-large {
	font-size: x-large;
}

.btn-medium {
	font-size: medium;
}

.btn-pressed {
	border-color: rgb(0, 74, 159) !important;
	background-color: rgb(0, 117, 255) !important;
	cursor: default !important;
}

.btn-path {
	white-space: normal;
	height: 44px;
}

input {
	box-sizing: border-box;
	border: 1px solid rgb(0, 0, 0, 0.8);
	background-color: rgb(0, 0, 0, 0.1);
	border-radius: 4px;
	height: 22px;
	color: white;
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
	text-indent: 2px;
}

input::placeholder {
	color: white;
	opacity: 0.5;
}

select {
	height: 22px;
	box-sizing: border-box;
	color: white;
	background-color: rgb(0, 0, 0, 0.4);
	border: 1px solid rgb(0, 0, 0, 0.8);
	border-radius: 4px;
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

.d-none {
	display: none !important;
}

.outline {
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

/**
 * Manage Blocks
 */

.w-60 {
	width: 60%;
}

.blur {
	backdrop-filter: blur(30px);
	border-radius: 10px;
	padding: 5px;
	border: 1px solid rgba(255, 255, 255, 0.1);
}

.blur.blur-circle {
	border-radius: 50%;
}

.blur-s {
	backdrop-filter: blur(5px);
}

.blocks {
	width: 100%;
	height: fit-content;
	user-select: none;
	align-self: center;
}

.filter {
	width: 100%;
	user-select: none;
	padding-bottom: 5px;
}

.block {
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 5px;
	border: 1px solid rgba(0, 0, 0, 0.6);
}

.block:not(:last-child) {
	margin-bottom: 0.25rem;
}

.block span {
	color: white;
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
	padding-left: 1px;
}

.dropdown-arrow {
	width: 20px;
	height: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
	transition: transform 0.2s;
}

.dropdown-top {
	transition: background-color 0.2s;
}

.dropdown-top:hover {
	background-color: rgb(0, 0, 0, 0.1);
}

.block-preview {
	height: 135px;
	width: 135px;
}

.toggled .dropdown-arrow {
	transform: rotate(90deg);
}

.align-center {
	align-self: center;
}

.align-end {
	align-self: end;
}

.justify-between {
	justify-content: space-between;
}

.justify-left {
	justify-content: left;
}

.justify-right {
	justify-content: right;
}

.justify-center {
	justify-content: center;
}

.justify-evently {
	justify-content: space-evenly;
}

.sort-button {
	width: 22px;
	height: 22px;
	padding: 0;
	box-sizing: border-box;
	border-radius: 50%;
}

.dropdown {
	position: relative;
	display: flex;
	height: 100%;
}

.dropdown-content {
	position: absolute;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 80px;
	left: -29px;
	top: 24px;
	background-color: rgb(0, 0, 0, 0.2);
	z-index: 1;
	border: 1px solid rgb(0, 0, 0);
	border-radius: 5px;
}

.sort-text {
	font-size: 0.75rem;
	margin-top: 2px;
	margin-bottom: 2px;
}

.btn-fill {
	width: 100%;
}

.sort-arrow {
	width: 14px;
	height: 14px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.sort-type-btn {
	display: flex;
	flex-flow: row;
	justify-content: center;
	width: 100%;
	margin-left: 2px;
	margin-right: 2px;
	margin-bottom: 2px;
}

.search-btn {
	width: 35px;
	height: 22px;
	padding: 0;
	box-sizing: border-box;
	border-radius: 999px;
}

.sort-img,
.search-img {
	width: 20px;
	height: 20px;
	pointer-events: none;
}

.search-input {
	width: 80px;
	height: 22px;
	border-radius: 999px;
	text-indent: 5px;
}

.add-img {
	width: 38px;
	height: 38px;
}

.add-btn {
	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 999px;
}

/**
 * Textures
 */

.texture-label {
	position: relative;
	top: 0;
	left: 0;
}

.texture-img {
	position: relative;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
}

.texture-img:hover {
	filter: blur(0.5px);
	cursor: pointer;
}

.texture-img:hover+.trash-can {
	display: block;
}

.trash-can {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	pointer-events: none;
}

.texture-selector-parent {
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
	width: 100%;
}

.texture-selector-child {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column;
	padding-right: 4px;
}

.texture-selector-child .form-label {
	margin-bottom: 0;
}


/**
 * Form steps
 */

.scrollable::-webkit-scrollbar {
	display: none !important;
}

.scrollable {
	overflow-y: auto !important;
}

.form-part {
	width: 45%;
	border-radius: 5px;
}

.form-part-wide {
	width: 60% !important;
}

.form-label {
	display: flex;
	flex: 0 1 auto;
	margin-bottom: 3px;
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
	text-indent: 1px;
}

.form-group {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between;
}

.form-control {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
}

.form-group .form-control {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}

.form-group .form-control:not(:last-child) {
	margin-right: 2px;
}

.form-group .form-control-tight {
	display: flex;
	flex: 0 1 auto;
}

.form-group-vertical {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column;
}

.form-group-vertical .form-group {
	margin-bottom: 3px;
}

.shrink-anim {
	transition: width 0.2s ease-in-out;
}

/**
 * Custom checkboxes
 */

input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
	width: 35px;
	height: 22px;
	border: 1px solid black;
	background: rgb(0, 0, 0, 0.2);
	transition: background .3s ease;
	position: relative;
	border-radius: 999px;
}

.checkbox label {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;

	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	z-index: 1;
	left: 2px;
	background: #ddd;
}

.checkbox input[type=checkbox]:checked+label {
	left: 16px;
}

.checkbox:has(input[type=checkbox]:checked) {
	background: rgb(0, 117, 255);
}


/**
 * Custom file uploaders
 */

input[type=file] {
	display: none;
}

.custom-file-uploader {
	display: flex;
	flex: 0 1 auto;
	width: 80px;
	height: 80px;
	cursor: pointer;
	border: 2px dashed rgb(0, 0, 0);
	border-radius: 6px;
	background-color: rgb(0, 0, 0, 0.2);
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	margin-bottom: 22px;
	color: rgb(255, 255, 255, 0.8);
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
	transition: background-color 0.2s;
}

.custom-file-uploader:hover {
	background-color: rgb(0, 0, 0, 0.4) !important;
	cursor: pointer;
}

.highlight-invalid+.texture-selector-parent>.custom-file-uploader {
	border: 2px dashed red;
}


/**
 * Custom recipe upload
 */

.manual-upload {
	display: flex;
	flex: 0 0 auto;
	height: 60px;
	border: 2px dashed rgb(0, 0, 0);
	border-radius: 7px;
	align-items: center;
	justify-content: center;
	color: rgb(255, 255, 255, 0.8);
	background-color: rgb(0, 0, 0, 0.2);
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
	transition: background-color 0.2s;
}

.manual-upload:hover {
	background-color: rgb(0, 0, 0, 0.4);
	cursor: pointer;
}


/**
 * Recipe preview
 */

.recipe-picture-preview {
	width: 180px;
	height: 180px;
	border-radius: 6px;
}

.recipe-properties-preview {
	resize: none;
	outline: none;
	font-size: medium;
}

/**
 * Form stepper
 */
ul.form-stepper {
	counter-reset: section;
	margin-top: 0;
	padding: 5px;
	user-select: none;
}

ul.form-stepper .form-stepper-title {
	display: flex;
	border: 1px solid black;
	border-radius: 999px;
	padding: 5px 0px;
	text-align: center;
	justify-content: center;
	width: 100px;
}

ul.form-stepper .form-stepper-active .form-stepper-title {
	background-color: rgb(0, 117, 255);
	color: white;
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

ul.form-stepper .form-stepper-completed .form-stepper-title {
	background-color: rgb(31, 54, 160);
	color: rgb(200, 200, 200);
	text-shadow: -1px -1px 1px black, 1px -1px 1px black, -1px 1px 1px black, 1px 1px 1px black;
}

ul.form-stepper .form-stepper-unfinished .form-stepper-title {
	background-color: rgb(248, 247, 255);
	color: black;
}

.form-stepper-horizontal {
	position: relative;
	display: flex;
	justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
	margin-bottom: 0.625rem;
	transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
	margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
	position: relative;
	display: flex;
	flex: 1;
	align-items: start;
	transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
	position: relative;
	flex: 1;
	height: 2px;
	margin-left: 5px;
	margin-right: 5px;
	content: "";
	top: 50%;
}

.form-stepper-horizontal li:after {
	background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
	background-color: rgb(0, 117, 255);
}

.form-stepper-horizontal li:last-child {
	flex: unset;
}

.form-stepper .form-stepper-active span.text-muted {
	color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
	color: #fff !important;
}

.form-stepper a {
	cursor: default;
}

.direction-arrow {
	width: 26px;
	height: 26px;
}

.btn:has(.direction-arrow) {
	height: 32px;
	padding: 0;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.rotate-180 {
	rotate: 180deg;
}

.prev-btn {
	padding-right: 7px !important;
}

.next-btn {
	padding-left: 7px !important;
}

.cancel-img {
	width: 38px;
	height: 38px;
}

.cancel-btn {
	width: 40px;
	height: 40px;
	padding: 0;
	border-radius: 999px;
}