.container {
	padding-top: 2%;
	padding-bottom: 1%;
	padding-left: 5%;
	padding-right: 5%;
	height: 100%;
	box-sizing: border-box;
}

* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	margin: 0;
	background-color: rgb(242, 242, 242);
	height: 100vh;
}

.box {
	display: flex;
	flex-flow: column;
	height: 100%;
	overflow: hidden;
}

.box .header {
	flex: 0 1 auto;
	margin-top: 0;
}

.box .content {
	flex: 1 1 auto;
	min-height: 0;
	min-width: 0;
}

.box .footer {
	flex: 0 1 auto;
	padding-top: 1%;
}

.box-horizontal {
	display: flex;
	flex-flow: row;
	justify-content: space-around;
	width: 100%;
}

.box-horizontal .content {
	flex: 0 1 auto;
}

input:not(:focus):not(:placeholder-shown):invalid {
	background-color: ivory;
	border: 1px solid red;
	border-radius: 3px;
	padding: 2px 3px;
}

.highlight-invalid {
	background-color: ivory;
	border: 1px solid red;
	border-radius: 3px;
	padding: 2px 3px;
}

select:focus-visible,
input:focus-visible {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=range] {
	height: 22px;
	box-sizing: border-box;
	margin: 0;
}

.text-center {
	text-align: center;
}

.align-left {
	justify-content: left !important;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.pl-0 {
	padding-left: 0;
}

.mt-3 {
	margin-top: 2rem;
}

.mt-0 {
	margin-top: 0;
}

.mb-0 {
	margin-bottom: 0;
}

.mb-1 {
	margin-bottom: 0.25rem;
}

.mb-2 {
	margin-bottom: 0.75rem;
}

.me-2 {
	margin-right: 0.75rem;
}

.ms-2 {
	margin-left: 0.75rem;
}

.mt-2 {
	margin-top: 0.75rem;
}

.mx-2 {
	margin: 0.75rem !important; 
}

.px-2 {
	padding: 0.75rem !important
}

.btns {
	display: flex;
	justify-content: space-between;
}

.left {
	display: flex;
	flex: 1;
	justify-content: left;
}

.right {
	display: flex;
	flex: 1;
	justify-content: right;
}

.btn {
	border: 1px solid rgb(125, 125, 125);
	border-radius: 4px;
	background-color: rgb(240, 240, 240);
	box-sizing: border-box;
	height: auto;
	transition: all 0.2s;
}

.btn:hover:not(:disabled) {
	background-color: rgb(225, 225, 225);
	border-color: rgb(110, 110, 110);
}

.btn:active:not(:disabled) {
	background-color: rgb(240, 240, 240);
	border-color: rgb(125, 125, 125);
}

.btn:disabled {
	border-color: rgba(125, 125, 125, 0.5);
}

.btn-large {
	font-size: x-large;
}

.btn-medium {
	font-size: medium;
}

.btn-pressed {
	border-color: rgb(0, 94, 201) !important;
	background-color: rgb(0, 117, 255) !important;
	color: rgb(255, 255, 255);
}

.btn-path {
	white-space: normal;
	height: 44px;
}

input {
	box-sizing: border-box;
}

select {
	height: 22px;
	box-sizing: border-box;
}

.d-none {
	display: none !important;
}

/**
 * Manage Blocks
 */

.block {
	background-color: rgb(237, 237, 237);
}

.block:nth-child(odd) {
	background-color: rgb(225, 225, 225);
	border-radius: 5px;
}

.blocks {
	width: 60%;
	user-select: none;
}

.block p {
	margin-bottom: 0;
	margin-top: 0;
}

.dropdown-arrow {
	width: 20px;
	height: 20px;
	margin-top: 7px;
	margin-bottom: 7px;
	transition: transform 0.2s;
}

.block-preview {
	height: 135px;
	width: 135px;
}

.toggled .dropdown-arrow {
	transform: rotate(90deg);
}

.align-center {
	align-self: center;
}

.align-end {
	align-self: end;
}

.justify-between {
	justify-content: space-between;
}

.justify-left {
	justify-content: left;
}

.justify-right {
	justify-content: right;
}

.justify-center {
	justify-content: center;
}

.justify-evently {
	justify-content: space-evenly;
}

/**
 * Textures
 */

.texture-label {
	position: relative;
	top: 0;
	left: 0;
}

.texture-img {
	position: relative;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
}

.texture-img:hover {
	filter: blur(0.5px);
	cursor: pointer;
}

.texture-img:hover + .trash-can {
	display: block;
}

.trash-can {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	pointer-events: none;
}

.texture-selector-parent {
	display: flex;
	flex: 0 1 auto;
	flex-flow: row wrap;
	width: 100%;
}

.texture-selector-child {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column;
	padding-right: 4px;
}

.texture-selector-child .form-label {
	margin-bottom: 0;
}


/**
 * Form steps
 */

.scrollable {
	overflow-y: auto !important;
}

.form-part {
	width: 40%;
}

.form-part-wide {
	width: 60%;
}

.form-label {
	display: flex;
	flex: 0 1 auto;
	margin-bottom: 3px;
}

.form-group {
	display: flex;
	flex: 0 1 auto;
	justify-content: space-between;
}

.form-control {
	display: flex;
	flex: 0 0 auto;
	justify-content: center;
}

.form-group .form-control {
	display: flex;
	flex: 1 1 auto;
	width: 100%;
}

.form-group .form-control-tight {
	display: flex;
	flex: 0 1 auto;
}

.form-group-vertical {
	display: flex;
	flex: 0 1 auto;
	flex-flow: column;
}

.form-group-vertical .form-group {
	margin-bottom: 3px;
}


/**
 * Custom checkboxes
 */

input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
	width: 35px;
	height: 22px;
	background: #717171;
	transition: background .3s ease;
	position: relative;
	border-radius: 50px;
}

.checkbox label {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;

	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	z-index: 1;
	left: 2px;
	background: #ddd;
}

.checkbox input[type=checkbox]:checked + label {
	left: 16px;
}

.checkbox:has(input[type=checkbox]:checked)  {
	background: rgb(0, 117, 255);
}


/**
 * Custom file uploaders
 */

input[type=file] {
	display: none;
}

.custom-file-uploader {
	display: flex;
	flex: 0 1 auto;
	width: 80px;
	height: 80px;
	cursor: pointer;
	border: 2px dashed rgb(190, 190, 190);
	border-radius: 6px;
	background-color: rgb(245, 245, 245);
	box-sizing: border-box;
	text-align: center;
	align-items: center;
	margin-bottom: 22px;
	color: rgb(165, 165, 165);
	transition: background-color 0.2s;
}

.custom-file-uploader:hover {
	background-color: rgb(231, 231, 231) !important;
	cursor: pointer;
}

.highlight-invalid + .texture-selector-parent > .custom-file-uploader {
	background-color: ivory;
	border: 2px dashed red;
	border-radius: 6px;
	padding: 2px 3px;
}


/**
 * Custom recipe upload
 */

.manual-upload {
	display: flex;
	flex: 0 0 auto;
	height: 60px;
	border: 2px dashed rgb(190, 190, 190);
	border-radius: 7px;
	align-items: center;
	justify-content: center;
	color: rgb(165, 165, 165);
	transition: background-color 0.2s;
}

.manual-upload:hover {
	background-color: rgb(231, 231, 231);
	cursor: pointer;
}


/**
 * Recipe preview
 */

.recipe-picture-preview {
	width: 180px;
	height: 180px;
}

.recipe-properties-preview {
	resize: none;
	outline: none;
	font-size: medium;
}

/**
 * Form stepper
 */
ul.form-stepper {
	counter-reset: section;
	margin-bottom: 2%;
	margin-top: 0;
	user-select: none;
}

ul.form-stepper .form-stepper-circle {
	position: relative;
}

ul.form-stepper .form-stepper-circle span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
	position: relative;
	display: flex;
	justify-content: space-between;
}

ul.form-stepper > li:not(:last-of-type) {
	margin-bottom: 0.625rem;
	transition: margin-bottom 0.4s;
}

.form-stepper-horizontal > li:not(:last-of-type) {
	margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
	position: relative;
	display: flex;
	flex: 1;
	align-items: start;
	transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
	position: relative;
	flex: 1;
	height: 2px;
	content: "";
	top: 32%;
}

.form-stepper-horizontal li:after {
	background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: rgb(0, 117, 255) !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: rgb(0, 117, 255) !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #223ebc !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #223ebc !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}