.container {
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 5%;
	padding-right: 5%;
}

* {
	font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
	margin: 0;
	background-color: rgb(242, 242, 242);
	height: 100vh;
}

input:invalid {
	background-color: ivory;
	border: 1px solid red;
	border-radius: 3px;
	padding: 2px 3px;
}

select:focus-visible,
input:focus-visible {
	outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

.text-center {
	text-align: center;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.pl-0 {
	padding-left: 0;
}

.d-none {
	display: none;
}

.mt-3 {
	margin-top: 2rem;
}

.mb-2 {
	margin-bottom: 0.75rem;
}

.form-vertical {
	display: flex;
	justify-content: space-around;
}

.btns {
	display: flex;
	justify-content: space-between;
}

.form-part {
	width: 30%;
}

.form-label {
	display: flex;
	width: 100%;
}

.form-group {
	display: flex;
	justify-content: space-between;
}

.form-control {
	width: 100%;
}

.btn {
	width: auto;
}

.btn-large {
	font-size: large;
}

input {
	box-sizing: border-box;
}

select {
	height: 22px;
	box-sizing: border-box;
}

.texture-label {
	position: relative;
	top: 0;
	left: 0;
}

.texture-img {
	position: relative;
	top: 0;
	left: 0;
	width: 80px;
	height: 80px;
}

.texture-img:hover + .cross {
	display: block;
}

.texture-img:hover {
	filter: blur(0.5px);
}

.cross {
	width: 80px;
	height: 80px;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	pointer-events: none;
}

.texture-selector-parent {
	display: flex;
	flex-flow: row wrap;
	width: 100%;
}

.texture-selector-child:not(:last-child) {
	padding-right: 4px;
}

/**
 * Custom checkboxes
 */
input[type=checkbox] {
	visibility: hidden;
}

.checkbox {
	width: 35px;
	height: 22px;
	background: #717171;
	transition: background .3s ease;
	position: relative;
	border-radius: 50px;
}

.checkbox label {
	display: block;
	width: 18px;
	height: 18px;
	border-radius: 50%;

	transition: all .3s ease;
	cursor: pointer;
	position: absolute;
	top: 2px;
	z-index: 1;
	left: 2px;
	background: #ddd;
}

.checkbox input[type=checkbox]:checked + label {
	left: 16px;
}

.checkbox:has(input[type=checkbox]:checked)  {
	background: #26ca28;
}


/**
 * Form stepper
 */
ul.form-stepper {
	counter-reset: section;
	margin-bottom: 3%;
	margin-top: 0;
	user-select: none;
}

ul.form-stepper .form-stepper-circle {
	position: relative;
}

ul.form-stepper .form-stepper-circle span {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
	position: relative;
	display: flex;
	justify-content: space-between;
}

ul.form-stepper > li:not(:last-of-type) {
	margin-bottom: 0.625rem;
	transition: margin-bottom 0.4s;
}

.form-stepper-horizontal > li:not(:last-of-type) {
	margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
	position: relative;
	display: flex;
	flex: 1;
	align-items: start;
	transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
	position: relative;
	flex: 1;
	height: 2px;
	content: "";
	top: 32%;
}

.form-stepper-horizontal li:after {
	background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #4361ee !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: #4361ee !important;
}



.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}